@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    font-display: block;
    src: local("Poppins"), url("/fonts/Poppins-ExtraLight.ttf") format("TrueType");
  }
  
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-display: block;
    src: local("Poppins"), url("/fonts/Poppins-ExtraBold.ttf") format("TrueType");
  }

@font-face {
    font-family: "Braille";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("/fonts/BrailleCC0.ttf") format("TrueType");
  }
