---
import { storyblokEditable } from "@storyblok/astro";
import type { CardStoryblok } from "../../component-types-sb";

interface Props {
  blok: CardStoryblok;
}

const { blok } = Astro.props;
---

<div
  class="bg-white border-2 border-red-500 p-4 h-[500px]"
  {...storyblokEditable(blok)}
>
  <!-- <h2>{blok.title}</h2> -->
  <!-- <p>{blok.description}</p> -->
  <!-- <img class="w-[70%] h-auto" src={blok.image.filename} alt={blok.image.alt} /> -->
</div>
