---
import { storyblokEditable } from "@storyblok/astro";
import type { CarouselStoryblok } from "../../component-types-sb";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

interface Props {
  blok: CarouselStoryblok;
}

const { blok } = Astro.props;
---

<!-- <div class="overflow-x-hidden" >
  <div class="flex gap-8 pb-10">
    {
      blok.items?.map((blok: any) => {
        return <StoryblokComponent blok={blok} />;
      })
    }
  </div>
</div> -->
<section id="slider" class="swiper" {...storyblokEditable(blok)}>
  <ul class="swiper-wrapper" data-cursor="swipe">
    {
      blok.items?.map((blok) => (
        <li class="swiper-slide px-[50px]">
          <StoryblokComponent blok={blok} />
        </li>
      ))
    }
  </ul>
</section>

<script>
  import "swiper/css";
  import Swiper from "swiper";
  import { register } from "swiper/element/bundle";
  register();

  // @ts-ignore
  const swiper = new Swiper("#slider", {
    loop: false,
    autoplay: false,
    grabCursor: false,
    mousewheel: false,
    slidesPerView: 1.33,
    centeredSlides: true,
    spaceBetween: 0,
  });
</script>
