---
import { storyblokEditable } from "@storyblok/astro";
import type { HeroStoryblok } from "../../component-types-sb";

interface Props {
  blok: HeroStoryblok;
}

const { blok } = Astro.props;
const heading = blok.heading
const url = blok.image?.filename
const alt = blok.image?.alt
---

<header class="pt-[80px]" {...storyblokEditable(blok)}>
    <div class="w-full">
        <h1 class="text-[clamp(32px,7vw,94px)] mb-[60px] leading-none font-bold">{heading}</h1>
        <img src={url} alt={alt} class='w-full object-cover h-auto max-h-[700px]'>
    </div>
</header>