---
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { storyblokEditable } from "@storyblok/astro";
import type { PageStoryblok } from "../../component-types-sb";

interface Props {
  blok: PageStoryblok;
}

const { blok } = Astro.props;
---

<main {...storyblokEditable(blok)}>
  <div class="min-h-screen">
    <!-- MAIN SECTION-->
    {
      blok.main?.map((blok: any) => {
        return <StoryblokComponent blok={blok} />;
      })
    }
  </div>
  <div>
    <!-- FOOTER SECTION -->
    {
      blok.footer?.map((blok: any) => {
        return <StoryblokComponent blok={blok} />;
      })
    }
  </div>
</main>
