---

---

<nav
  class="absolute right-0 z-50 inset-y-0 w-[100px] [writing-mode:vertical-lr]"
>
  <ul
    class="flex 2xl:text-xl w-full [&_*]:tracking-wide [&>*]:w-fit items-center uppercase justify-start mt-16 gap-24"
  >
    <li><a href="/">Home</a></li>
    <li><a href="/">Playground</a></li>
    <li><a href="/">About</a></li>
  </ul>
</nav>
