---
interface Props {
  title: string;
}
import "../global.css";

const { title } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <link rel="manifest" href="/manifest.webmanifest" />
  <link rel="icon" href="/favicons/logo-legacy.ico" sizes="any" />
  <link rel="icon" href="/favicons/logo.svg" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="/favicons/logo-apple-touch.png" />
  <meta
    name="viewport"
    content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
  />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
