---
import Head from "./Head.astro";

import "../global.css";

interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<html lang="en">
  <Head {title} />
  <body class="min-w-[320px] bg-indigo-500">
    <main class="min-h-screen">
      <slot />
    </main>
    <footer class="bg-yellow-500">{"FOOTER".repeat(20)}</footer>
  </body>
</html>
